#titulo{
    color:rgb(11, 97, 97) ;
}
#subtitulo{
    color:darkblue;
}
.destacado{
    color:gold ;
}
a{
    color:red;
}
em{
    color:blue ;
}

.especial {
    color:orange !important;
}
tfoot{
    color:red;
}
.especial2{
    color:red !important;
}
tbody{
    color: rgb(9, 156, 9);
}
#adicional{
    color:rgb(98, 138, 28);
}
#especial{
    color:deeppink;
}
#adicional a{
    color:rgb(9, 156, 9);
}
body .especiale{
    color:blueviolet;
}

tr {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 180px;
  
    }

table {
    border: 1px solid rgba(7, 7, 7, 0.8);
    border-bottom: none;
    list-style-type:square;
    margin: 2;
    padding: 2;
    width: 500px;
    /*
    (Cambiar posisicion de palabras en tabla derecha o zquierda)
     text-align: left;
   */
    }

    tr th {
        background: #ffff;
        border-bottom: 1px solid #7C7C7C;
        border-top: 1px solid #FFF;
        
        }
    tr td{
        background: #ffff;
        border-bottom: 1px solid #7C7C7C;
        border-top: 1px solid #FFF;
       
    }   
    tr td {
        height: 100%;
        width: 200px;
        border-left: 1px solid gray;
        
    }
    tr th{
        height: 100%;
        width: 200px;
        border-left: 1px solid gray;
    }
     
    