.producto1{
    float: left;
    width: 200px;
    height: 150;
}
#colortitulo{
    color:lightblue;
    font-family: fantasy;

}
.fondito{
    background-image:url(Imagenes/tienda.jpg);
}
.fondoRegistro{
    background-image: url(Imagenes/tienda.jpg);
}
.fondoRegistro{
    color:cyan;
}
.titulos{
    color:dodgerblue;
}