/*Anchura del menu*/
ul.menu { width: 180px; }
/*Eliminar las viñetas automáticas y todos los márgenes y espaciados aplicados por
defecto*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    }
    /*Añadir un borde al menú de navegación y establecer el color de fondo y los bordes de
cada elemento del menú:*/
ul {
    border: 1px solid rgba(7, 7, 7, 0.8);
    border-bottom: none;
    list-style-type: square;
    margin: 2;
    padding: 2;
    width: 180px;
    }

        ul li {
        background: #ffff;
        border-bottom: 1px solid #7C7C7C;
        border-top: 1px solid #FFF;
        }
        /*Aplicar estilos a los enlaces: mostrarlos como un elemento de bloque para que ocupen
todo el espacio de cada <li> del menú, añadir un espacio de relleno y modificar los colores
y la decoración por defecto*/
        ul li a {
            color: rgb(14, 5, 139);
            display: block;
            padding: .2em 0 .2em .5em;
            text-decoration: none;
            }
     /*Color de letras y formato "ol"*/
            ol{
               color: red; 
               font-family: fantasy;
            }