table {
    border: 1px solid #333;
    list-style-type:square;
    /*Quitar borde de mas del lado izquierdo*/
    border-collapse:collapse ;
    /*--*/
    margin: 2;
    padding: 2;
    width: 450px;
    font-family:Arial;
   
    /*(Cambiar posisicion de palabras en tabla derecha o zquierda)
     text-align: left; */
    }
    
    tr th {
        background:#fff;
        border-top: 1px solid #333;
        }
    tr td{
        background:#fff;
        border-top: 1px solid #333;
       
    }   
    tr td {
        height: 100%;
        width: 200px;
        border-left: 1px solid #333;   
    }
    tr th{
        height: 100%;
        width: 200px;
        border-left: 1px solid #333;
    }
    .especial{
        background-color:wheat;
    }
    .especial2{
        text-align: left; 
        background-color: #E6F3FF; 
    }
    .especial3{
       background-image: url(imagenes/fondo_gris.gif);
    }
